@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
:root {
  --primaryColor: #002e5b;
  --primaryDark: #002e5b;
  --primaryLight: #dee2e6;
  --secondaryColor: #c0944a;
  --redColor: #b43232;
  --lightRedColor: rgba(180, 50, 50, 0.199);
  --greenColor: #00bfba;
  --lightGreenColor: rgba(0, 191, 185, 0.199);
  --placeholder: #adb5bd;
  --dropdownIcon: #adb5bd;
  --white: #ffffff;
}
body {
  background-color: #fafafa;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  box-sizing: border-box;
}
